/* 전체 기본 설정 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더 */
header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/*로고*/
.logo {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/*회원가입,로그인 tool*/
.tool{
  text-decoration: none;
  color: white;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
}

/* 메인 인포 영역 */
.info {
  background-color: #f0f0f0;
  padding: 100px 20px;
  text-align: center;

}

/* 운동 프로그램 요금 */
.programs, .pricing {
  padding: 40px 20px; 
  text-align: center;
}

.program-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.program {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black ;
  box-shadow: 0 4px 15px gray;
}

/*운동 글꼴 정리*/
.workout{
  text-decoration: none;
  color: black;
}

/* 푸터 */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

/* 이미지 기본 스타일 */
img {
  display: block;
  width: 100%;
}

/* figure 공통 */
figure {
  text-align: center;
  margin: 0;
}

/* 강사 소개 영역 */
.Propessor {
  display: flex;
  align-items: flex-start;
  background-color: rgb(187, 187, 187);
  gap: 40px;
  padding: 40px;
  box-shadow: 0 4px 15px gray;
}

.trainer-info figure {
  margin: 50px;
}

.trainer-info img {
  width: 200px;
  border-radius: 8px;
}

.trainer-detail h3 {
  font-size: 20px;
  margin: 50px 10px;
}

.trainer-detail ul {
  margin-top: 10px;
  padding-left: 20px;
  line-height: 1.8;
}
